<!DOCTYPE html>
<html>
<head>
    <title>My Rental History</title>
</head>
<body>
    <h2>My Rental History</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Model ID</th>
            <th>Car ID</th>
            <th>Driver</th>
        </tr>
        {% for r in history %}
        <tr>
            <td>{{ r.date }}</td>
            <td>{{ r.modelid }}</td>
            <td>{{ r.carid }}</td>
            <td>{{ r.driver }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/client">Back to Home</a>
</body>
</html>
